[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EventStudy"]
	path = EventStudy
	url = https://github.com/eventstudytools/api-wrapper.r
